.home{
  height: 100vh;
}

/* Login */

.logo{
  color: #29DCF4;
  font-size: 40px;

}
.btn{
  background-color: #29DCF4;
}

.back-g{
  background-color: #E1F8FF;
}

.nav{
  background-color: #63646B;
}
.logout{
  color:red;
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 10px;
}
.footer{
  background-color: #63646B;

}
